.page-container {
  width: 100%;
  max-width: 50%;
  margin: 0 auto;
  padding: 10px;
}

@media (max-width: 768px) {
  .page-container {
    max-width: 90%;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
  box-shadow: 0 0 0 1000px white inset !important;
  -webkit-text-fill-color: #000 !important; 
}